<div id="idream_data_visualization">
  {{ link }}
  {{ app.request.attributes.get('id') }}
  <iframe src="https://lampdev02.pnl.gov/idreamviz" width="100%" height="800" style="border:none;"></iframe>
</div>